.loader {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader__text {
  color: #05FF00;
  font-size: 36px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

.loader__circle {
  border: 5px dotted #219653;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: loading 1.5s infinite ease-out;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
    border: 5px dotted#219653;
  } 
  to {
    transform: rotate(360deg);
    border: 5px dotted#57ffa0;
  }
}