@import url('https: //fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  overflow-y: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: #383838;
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

main{
  flex-grow: 1;
  position: relative;
}

button{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}

.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo__img{
  width: 200px;
  height: 200px;
}

.header__items{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.header__item{
  list-style: none;
}

.header__item + .header__item {
  margin-left: 20px;
}

.header__item--link{
  text-decoration: none;
  color: #fff;
}

.menu {
  width: 700px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
}

.menu__input {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  width: 200px;
  padding: 20px 30px;
  border: 5px solid #67D794;
  border-radius: 10px;
  transform: rotate(-5.93deg);
  text-align: center;
  background-color: #fff;
}

.menu__input::placeholder {
  color: #383838;
  font-family: Roboto;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

.menu__sort {
  width: 270px;
  font-size: 26px;
  border: 5px solid #67D794;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  transform: rotate(8.95deg);
}

.post__page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__items{
  width: 750px;
  height: 500px;
  overflow-y: scroll;
}

.post__item{
  display: flex;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.post__item + .post__item {
  margin-top: 15px;
}

.post__item-num{
  background-color: #FFE100;
  padding: 4px 8px;
  border-radius: 20px;
}

.post__item-text{
  margin-left: 15px;
  width: 450px;
}

.list__pages{
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.list__page{
  padding: 8px 25px;
  background-color: #D9D9D9;
  color: #000;
  border-radius: 50px;
  cursor: pointer;
}

.list__page:nth-child(n + 10) {
  padding: 8px 18px;
}

.list__page + .list__page {
  margin-left: 10px;
}

.post__right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-add{
  width: 270px;
  font-size: 26px;
  padding: 10px 15px;
  border: none;
  background: #67D794;
  border-radius: 10px;
  transform: rotate(7.95deg);
  margin-bottom: 30px;
}

.button-add__img{
  width: 300px;
  height: 350px;
}

.menu-add__input{
  border: none;
  background-color: transparent;
}

.menu-add__button{
  border: none;
  color: #fff;
  border-radius: 50px;
  padding: 15px 18px;
  background-color: #000E88;
  margin-left: 80px;
}

.menu-add__input,
.menu-add__button,
.menu-add__input::placeholder{
  color: #000;
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
}

.parBlack{
  display: none;
}
.parRed{
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  color: red;
}

.empty__post{
  color: #7BE37F;
  text-align: center;
  font-size: 46px;
  line-height: 60px;
}

.post-page{
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-page__title{
  color: #7BE37F;
  text-align: center;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 50px;
  border-bottom: 3px solid #fff;
}

.post-page__comments{
  float: right;
}

.post-page__text{
  font-size: 36px;
}

.post-page__comment{
  list-style: none;
  margin-bottom: 15px;
}

.post-page__comment-num{
  margin-right: 20px;
  background-color: #FFE100;
  padding: 4px 8px;
  border-radius: 20px;
}

.footer{
  border-top: 1px solid #ececec;
  text-align: center;
  font-weight: 400;
}